* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#underscores {
  align-items: center;
  margin-top: 50px;
  letter-spacing: 10px;
  left: 550px;
}
#health {
  width: 500px;
  height: 20px;
  border: 2px solid black;
  border-radius: 2px;
}
#meter {
  height: 20px;
  width: 100%;
  background: red;
  transition: width 1s;
}
